{
  // https://eslint.org/docs/user-guide/configuring#specifying-environments
  "env": {
    "browser": true,
    "node": true
  },
  // https://github.com/babel/babel-eslint
  "parser": "@typescript-eslint/parser",
  "rules": {
    // https://eslint.org/docs/2.0.0/rules/strict
    "strict": 0,
    // Disable prop-types as we use TypeScript for type checking
    "react/prop-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    // Enable prettier rules
    "prettier/prettier": "off",
    // allow "any" as type
    // "@typescript-eslint/no-explicit-any": "off",
    // allow @ts-ignore for testing purposes
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "plugins": ["@typescript-eslint", "react", "prettier"],
  "extends": [
    // https://eslint.org/docs/rules/
    "eslint:recommended",
    // https://github.com/yannickcr/eslint-plugin-react#recommended
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    // "prettier/@typescript-eslint",
    // "plugin:prettier/recommended",
    // https://github.com/benmosher/eslint-plugin-import
    "plugin:import/recommended"
  ]
}
